:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: "Bai Jamjuree";
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, p {
    margin: 0px;
}

.main section:not(.logo), footer {
    width: 375px;
    padding: 30px;
}

.main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    background-image: url("./images/bg-header-mobile.png");
    display: flex;
    justify-content: center;
    padding: 123px 0px 30px 0px;
    width: 100%;
}

h1, h2, h3 {
    color: var(--dark-grayish-blue);
    font-weight: 600;
}

h1 {
    font-size: 1.8rem;
    margin: 5px 0px;
    letter-spacing: -0.7px;
}

p {
    color: var(--grayish-blue);
    font-size: 0.9rem;
    margin: 10px 2px 9px 2px;
    line-height: 1.45rem;
}

button {
    width: 100%;
    color: white;
    border: none;
    padding: 17px 0px 14px 0px;
    margin: 12px 0px;
    border-radius: 30px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.7px;
}

section button:nth-child(3) {
    background-color: var(--strong-cyan);
    margin-top: 40px;
    border-bottom: 3px solid hsl(171, 66%, 38%);
    box-shadow: 0px 11px 31px -18px var(--strong-cyan);
}

section button:nth-child(4) {
    background-color: var(--light-blue);
    border-bottom: 3px solid hsl(233, 100%, 63%);
    box-shadow: 0px 11px 31px -18px var(--light-blue);
    margin-bottom: 95px;
}

h2 {
    font-size: 1.6rem;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

.main section:not(.logo) img {
    width: 100%;
}

.sec-3 img {
    padding-top: 55px; 
}

h3 {
    font-size: 1.35rem;
    letter-spacing: -0.5px;
}

.sec-3 h3 {
    margin-top: 39px;
}

.sec-3 h3:nth-child(4) {
    margin-top: 55px;
}

.sec-5 h2 {
    margin-top: 115px;
    letter-spacing: -0.8px;
}

.sec-5 img {
    margin-top: 50px;
    width: 110% !important;
    margin-bottom: 40px;
}

.sec-6 img {
    width: 44px !important;
    margin: 40px 40px;
}

.sec-6 img[alt="list icon"] {
    margin-top: 80px;
}

.sec-6 h3 {
    margin-bottom: 8px;
}

.sec-6 img[alt="text icon"] {
    width: 35px !important;
    margin-bottom: 54px;
}

.sec-6 img[alt="preview icon"] {
    width: 50px !important;
    margin-bottom: 50px;
}

.sec-6 section img {
    width: 45% !important;
    margin: 35px;
}

.sec-6 section img[alt="google logo"] {
    margin-top: 90px;
}

.sec-6 section img[alt="IBM logo"], .sec-6 section img[alt="hp logo"], .sec-6 section img[alt="vector graphics logo"] {
    width: 35% !important;
}

footer {
    background-color: hsl(201, 11%, 96.5%);
    margin-top: 50px;
}

footer .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .pages img {
    width: 55px;
    margin: 17px 15px;
}

footer .pages ul {
    list-style: none;
    padding: 0px;
    color: var(--dark-grayish-blue);
    line-height: 2.8rem;
}

footer .social-media {
    display: flex;
    justify-content: space-around;
    margin: 20px 60px;
}

.attribution {
    position: relative;
    top: 30px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (width > 375px) {
    
    body {
        margin: 0px;
    }

    
    .main section:not(.logo), footer {
        width: 100%;
    }

    .logo {
        background-image: url("./images/bg-header-desktop.png");
        padding: 130px 0px 50px 0px;
    }

    h1 {
        font-size: 2.55rem;
        margin: 0px;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.1rem;
        padding: 10px 310px;
        line-height: 1.5;
        letter-spacing: 0.25px;
    }

    button {
        width: 230px;
    }

    .main section {
        /* border: 2px solid red; */
        width: auto;
        display: block;
    }

    .main .sec-2 {
        padding: 0px !important;
    }

    .main .sec-2 {

    }

    .main .sec-5 img {
        width: 50% !important;
    }
}